# Exclude Magento var dir
var/cache
var/sesssion
var/locks
var/log
var/tmp
var/import
var/export

#Exclude Magento media directory
media/*

# Exclude backups, archives and logs
*.tar
*.gz
*.sql
*.log
*.tar.gz
*.zip
*.rar
*.tgz

# Exclude Sitemap and robots.txt
sitemap.xml
robots.txt

# Exclude IDEs directories
.idea
nbproject



#Exclude configs
app/etc/local.xml

#Downloader
downloader/config.*
downloader/.cache
